:root {
    --heart-colour: hsl(340, 91%, 43%);
    --primary-colour: hsl();
    --secondary-colour: hsl();
    --font-colour: hsl();
    --bg-colour: hsl();
}



.heart {
    background-color: var(--heart-colour);
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: var(--heart-colour);
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
  }
  
  .heart:before {
    top: -15px;
    left: 0;
  }
  
  .heart:after {
    left: 15px;
    top: 0;
  }

  .heart {
    fill: var(--heart-colour);
    position: relative;
    top: 5px;
    width: 50px;
    animation: pulse 1s ease infinite;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }