:root{
    --background: #e6e1dd;
    --logo-red:#b30000;
    --font-colour:#b30000;
}

body{
    background:var(--background);
    color:var(--font-colour);
  
}
nav{
    height:20vh;
    width:100vw;
    display:flex;
    justify-content: center;
}

.logo{
    width:50vw;
    height:30vh;
}
.logo-link {
    width:25vw;
    height:15vh;
}
footer{
    display:flex;
    justify-content: center;
    position:absolute;
    height:15vh;
    width:100vw;
    bottom:0;
}
#loveNote{
    border: black 2px solid;
}