:root{
    --background: #e6e1dd;
    --logo-red:#b30000;
    --font-colour:#b30000;
}

body{
    background:var(--background);
    color:var(--font-colour);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    width: 100vw;
    color:var(--font-colour);
    font-family: 'Lemonada', cursive;
    font-weight:700;
}
nav{
    height:20vh;
    width:100vw;
    display:flex;
    justify-content: center;
    /* border:solid 3px #b30000; */
    top:0;
    position: absolute;
}

.logo{
    width:55vw;
    height:20vh;
    /* border:solid 3px #b30000; */
}
.logo-link {
    width:30vw;
    height:15vh;
}
footer{
    display:flex;
    justify-content: center;
    position:absolute;
    height:15vh;
    width:100vw;
    bottom:0;
}

.form__post--love_note{
border-radius:80px;
text-align: center;
width:7vw;

}

#loveNote, #name{
    border: solid #b30000 3px; 
    background: var(--background);
    border-radius:80px;
    height:10vh;
    width:70vw;
    color:var(--font-colour);
    font-family: 'Lemonada', cursive;
    font-weight: 700;
    text-align: center;
}
#submit {
    border: solid #b30000 3px; 
    background: var(--background);
    border-radius:80px;
    margin:3vw;
    color:var(--font-colour);
    font-family: 'Lemonada', cursive;
    font-weight:700;
}
.home{
    border: solid #b30000 3px; 
    background: var(--background);
    border-radius:80px;
    margin:1vw;
    color:var(--font-colour);
    font-family: 'Lemonada', cursive;
    font-weight:700;
}
form{
   width:80vw;
   height:80vh;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@media all and (min-width:377px){
    #loveNote, #name{
     
        height:10vh;
        width:40vw;
    }
    .logo{
        width:60vw;
        height:30vh;
        /* border:solid 3px #b30000; */
    }
    }